
body {
    font-family: verdana;
    background-color: #121212;
}


#preloader {
    background-color: #121212;display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    height: 100vh;
    position: fixed;
    top: 0%;
    left: 0%;
}
.loader {
    box-sizing: border-box;
    position: relative;
    width: 48px;
    height: 48px;
    animation: spin 1s linear infinite;
  }
  .loader:after, .loader:before {
    content: "";
    width: 36px;
    height: 36px;
    position: absolute;
    border-radius: 50%;
    background: #E50914;
    animation: spin 1s linear infinite;
    transform-origin: 0px 100%;
  }
  .loader:before {
    transform-origin: 0 50%;
    background: #FFD700;
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
      


.bi-film {
    font-size: 36px;
    margin: 2px 5px;
    color: #FFD700;
}


#movie_name {
    background-color: #121212;
    color: #FFD700;
    border: 2px solid #FFD700;
}
#movie_name::placeholder{
    color: #ffffff;
}


.navbar {
    position: fixed;
    background-color: #121212;
    top: 0%;
    left: 0%;
    height: 10vh;
    width: 100%;
    z-index: 1000;
}

.navbar a{
    background-color: #121212;
    color: #ffffff  !important;
    font-size: 22px;
}
.nav-item {
    font-weight: 700;
    border-bottom: 3px solid #121212;
    position: relative;
    margin: auto 5%;
}

.nav-item::after {
    content: "";
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: -3px;
    left: 0;
    background-color: #E50914;
    transition: 0.2s;
}


.nav-item:hover::after {
    width: 100%;
    
}
.navbar-toggler-icon {
    color: #FFD700 !important
}
.dropdown-menu {
    background-color: #121212;
    border: 3px solid #FFD700 ;
}
.dropdown-menu li a{
    font-weight: 650;
    transition: 0.2s;
}

#hero_section {
    height: 100vh;
    width: 100%;
    margin-top: 10vh;
    position: relative;
}

.carousal_image {
    width: 100%;
    height: 100vh;
    object-fit: cover;

}
#hero_overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hero_overlay h1{
    text-align: center;
    color: #ffffff;
    font-size: 120px;
    font-weight: 800;
    margin-top: 30vh;
}
#hero_overlay h3{
    text-align: center;
    color: #FFD700;
    font-size: 38px;
    font-weight: 800;
}
a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: inherit;
}

#hero_overlay button{
    text-align: center;
    background-color: #E50914;
    border-style: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 28px;
    font-weight: 800;
    padding: 1%;
    margin-top: 2vh;
    transition: 0.2s;
    border: 2px solid #ffffff;
}


#hero_overlay button:hover {
    background-color: #ffffff;
    color: #E50914;
    border-color: #E50914;
}

#hero_overlay button:active {
    background-color: #FFD700;
    color: #ffffff;
    border-color: #ffffff;
}


.image_container {
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    gap: 5%;
    justify-items: center;
    margin: auto 15px;
    aspect-ratio: 3 / 2;
}
#image_container {
    aspect-ratio: auto;
}
.movie_overlay {
    background-color: rgb(0, 0, 0);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    cursor: pointer;
    border: 3px solid #E50914;
    z-index: 100;
}
.img_loader {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 30%;
    height: 33%;
    margin: 20px;
    float: left;
    border: 5px solid #FFD700;
    background-color: transparent;
}

.movie_div {
    position: relative;
    height: 295px;
    width: 210px;
}

#rated_movie_image {
    width: 30%;
    margin: 20px;
    float: left;
    border: 5px solid #FFD700;
}

#rated_movie_name {
    text-align: center;
    color: #FFD700;
    font-size: 64px;
    font-weight: 700;
    text-decoration: underline;
    margin-top: 3vh;
}

.info_title {
    font-size: 32px;
    font-weight: 600;
    color: #E50914;
}
#rated_movie_summery {
    font-size: 28px;
    margin-top: 3vh;
    margin-left: 15px;
    margin-right: 15px;
    color: #ffffff;
    font-weight: 600;
    font-size: 24;

}


 


#rated_movie_rating {
    font-size: 32px;
    margin-top: 3vh;
    margin-left: 15px;
    margin-right: 15px;
    color: #ffffff;
    font-weight: 600;
    font-size: 24;
}


#original_title , #rated_movie_webchannel , #rated_movie_type , #rated_movie_lang , #rated_movie_genres{
    font-size: 32px;
    margin-top: 3vh;
    margin-left: 15px;
    margin-right: 15px;
    color: #ffffff;
    font-weight: 600;
    font-size: 24;
}

#rated_movie_backdrop {
    width: 30%;
    margin: 20px;
    float: right;
    border: 5px solid #FFD700;
}


@media(max-width: 1315px){
    .image_container{
        grid-template-columns: repeat(4 , 1fr);
    }
    #rated_movie_name {
        font-size: 64px;
        text-align: center;
    }
}

@media(max-width: 1000px){
    .image_container {
        grid-template-columns: repeat(3 , 1fr);
    }
    #rated_movie_image {
        width: 38%;
        float: left;
        margin: 15px;
    }
    #rated_movie_backdrop {
        width: 38%;
        float: right;
        margin: 15px;
    }
    #rated_movie_name {
        font-size: 52px;
        margin-top: 3vh;
    }
}

@media(max-width: 715px){
    .image_container{
        grid-template-columns: repeat(2 , 1fr);
        gap: 1vw;
        margin-bottom: 10%;
    }
    #rated_movie_image {
        width: 70%;
        float: none;
        margin: auto 15%;
    }
    #rated_movie_backdrop {
        width: 70%;
        float: none;
        margin: auto 15%;
    }
    #rated_movie_name {
        font-size: 48px;
        color: #ffffff;
    }
    #hero_overlay h1{
        font-size: 80px;
    }
    #hero_section {
        height: 100vh;
        width: 100%;
        margin-top: 13vh;
        position: relative;
    }
    .navbar {
        position: fixed;
        background-color: #121212;
        top: 0%;
        left: 0%;
        height: 13vh;
        width: 100%;
        z-index: 1000;
    }
}

@media(max-width: 460px){
    .image_container{
        grid-template-columns: repeat(1 , 1fr);
        gap: 1vw;
    }
    #rated_movie_name {
        font-size: 42px;
        margin-top: 12vh;
        color: #ffffff;
    }

}




#search_section {
    margin: 10vh 15px;
}
.section_title{
    font-size: 48px;
    color: #FFD700;
    text-decoration: underline;
    margin: 5vh auto;
    margin-left: 15px;
}

#search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#search input{
    width: 50%;
    font-size: 24px;
}


#submit_button {
    background-color: #E50914;
    color: #ffffff;
    border: 2px solid #ffffff;
    font-size: 24px;
    font-weight: 500;
    transition: 0.2s;
}

#submit_button:hover {
    background-color: #ffffff;
    color: #E50914;
    border-color: #E50914;
}

#submit_button:active {
    background-color: #FFD700;
    color: #ffffff;
    border-color: #ffffff;
}

.change_genre {
    background-color: #E50914;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-size: 28px;
    font-weight: 500;
    transition: 0.2s;
    margin: 20px;
}
.change_genre:hover {
    background-color: #ffffff;
    color: #E50914;
    border-color: #E50914;
}

.change_genre:active {
    background-color: #FFD700;
    color: #ffffff;
    border-color: #ffffff;
}



.imageless_name {
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
}